.inicio{
   background-image: url(../img/header.jpg);
}

.header{
   background-color: $grisOscuro;
   padding: 1rem 0 1.5rem 0;
   &.inicio{
      background-position: center center;
      background-size: cover;
      @include tablet{
         min-height: 100vh;
      }
      .contenido-header{
         @include tablet{
            min-height: 100vh;
         }
      }
   }
}

.contenido-header{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   h1{
      text-align: left;
      color: $blanco;
      font-weight: $bold;
      max-width: 60rem;
      text-transform: capitalize;
      margin-bottom: 6rem;
   }
}