.barra{
   display: flex;
   flex-direction: column;
   @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
}
.navegacion{
   a{
      color: $blanco;
      text-decoration: none;
      font-size: 2rem;
      display: block;
      text-align: center;
      @include tablet{
         margin-right: 2rem;
         &:last-of-type{
            margin-right: 0;
         }
      }
   }
   @include tablet{
      display: flex;
      align-items: center;
   }
}